@use '../../../styles/variables.scss' as *;

.footerInfo {
  width: 100%;
  max-width: 1159px;
  margin: 45px auto 0;
  padding: 0 0 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $text-gray;
  box-sizing: border-box;

  .infoTitle {
    margin: 0;
    font-size: 12px;
  }

  .links {
    display: flex;
    gap: 30px;
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .footerInfo {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
  }
}

@media (max-width: 1000px) {
  .footerInfo {
    margin-top: 30px;
    padding: 0 20px 80px;

    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .links {
      white-space: nowrap;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 600px) {
  .footerInfo {
    margin-top: 40px;
    padding: 0 15px 80px;

    .links {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
