.viewedProducts {
  width: 100%;
  max-width: 1159px;
  margin: 0 auto;
  padding: 85px 20px;
  box-sizing: border-box;
  min-width: 0;
  overflow: hidden;

  .viewedProductsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .left,
    .right {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform-origin: center;
      cursor: pointer;
    }

    .left {
      transform: rotate(90deg) translateX(0.5px);
    }

    .right {
      transform: rotate(270deg) translateX(0.5px);
    }
  }
}

@media (max-width: 900px) {
  .viewedProducts {
    padding: 70px 20px;
  }
}

@media (max-width: 600px) {
  .viewedProducts {
    padding: 50px 20px;
  }
}

@media (max-width: 500px) {
  .viewedProducts {
    padding: 40px 15px;
  }
}
