// ====================
// Colors
// ====================

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #9ca3af;
$color-border: #dbdbdb;

$border-width: 1px;
$border-radius-sm: 8px;

$font-size-base: 16px;
$font-size-lg: 22px;

$input-max-width: 200px;
$input-height: 32px;
$input-padding-x: 16px;

$transition-fast: 0.3s ease;
