$color-white: #fff;
$color-black: #000;
$color-gray: #9ca3af;

$border-width: 1px;
$border-radius-sm: 8px;

$input-height: 32px;
$input-max-width: 200px;
$input-padding-x: 16px;

$font-size-base: 16px;

$transition-fast: 0.3s ease;
