$white: #ffffff;
$black: #000000;

$gray: #9ca3af;
$light-gray: #d9d9d9;

$border-radius-sm: 10px;

$font-size-base: 16px;
$font-size-lg: 20px;

$transition-fast: 0.3s;

$input-max-width: 200px;
$input-height: 32px;
$input-padding-x: 16px;
