@font-face {
  font-family: 'Aeroport';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Aeroport.ttf') format('truetype');
}

@font-face {
  font-family: 'Aeroport';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Aeroport-Bold.ttf') format('truetype');
}

@mixin aeroport {
  font-family: 'Aeroport', sans-serif;
  font-style: normal;
}

@mixin regular {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@mixin menu {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

@mixin title {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
}

@mixin section-title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
}

@mixin product-price {
  font-size: 1.5rem;
  line-height: 1.95rem;
  font-weight: 700;
}

@mixin small-title {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 700;
}

@mixin history-product-title {
  font-size: 1rem;
  line-height: 1.3rem;
}

@mixin viewed-product-price {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 700;
  text-align: center;
}

@mixin small-text {
  font-size: 0.75rem;
  line-height: 0.975rem;
}

@mixin header-menu {
  font-family: 'Aeroport', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0;
}
