.header {
  width: 100%;
  height: 115px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dropDownHeader {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 400px;
  }
  .headerActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 100%;
  }
}
