.cardsContainer {
  margin: 45px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;

  height: 500px;

  .card {
    display: flex;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    height: 115px;
    flex-shrink: 0;
    margin-bottom: 20px;

    .cardPhoto {
      width: 80px;
      height: 115px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cardInfo {
      height: 100%;
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .cardTop {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
      }
    }

    .cardBottom {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .counterBasket {
        width: 110px;
        height: 40px;
      }
    }
  }
}
