@use '../../../styles/variables' as *;

.typography {
  margin: 0;
  color: inherit;
}

.aeroport {
  font-family: 'Aeroport', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.title-product {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}

.weight-text {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
}

.title-some {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
