@use '../../styles/variables.scss' as *;

.footer {
  width: 100%;
  background-color: $gray;
  box-sizing: border-box;
  padding: 60px 0 0;

  .footerContent {
    width: 100%;
    max-width: 1159px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footerColumns {
    display: flex;
    gap: 150px;
  }
}

@media (max-width: 1200px) {
  .footer {
    .footerContent {
      padding: 0 50px;
    }
  }
}

@media (max-width: 786px) {
  .footer {
    padding: 40px 0 0;

    .footerContent {
      padding: 0 20px;
      flex-direction: column;
    }

    .footerColumns {
      width: 100%;
      gap: 75px;
      margin-bottom: 35px;
      padding-bottom: 35px;
      border-bottom: 1px solid $text-gray;
    }

    .footerContent::after {
      content: '';
      width: 100%;
      border-bottom: 1px solid $text-gray;
      margin-top: 35px;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .footerContent {
      padding: 0 15px;
    }

    .footerColumns {
      flex-direction: column;
      gap: 35px;
    }
  }
}
